{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container" ng-controller="authController" ng-init="user='{{ user.username }}'">
        <div class="row justify-content-center">
            <div class="col-5 text-center">
                {% csrf_token %}
                <form id="id_auth_form" ng-submit="login()" action="" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="username">Username</label>
                        {{ form.username }}
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        {{ form.password }}
                    </div>
                    {% for field in form.hidden_fields %}
                        {{ field }}
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Вход</button>
                    <input type="submit" class="btn btn-default" value="register" ng-click="register($event)">
                </form>
            </div>
        </div>
    </div>
{% endblock %}