{% extends 'main.html' %}
{% load static %}
{% block main %}
    <div class="container" ng-controller="scheduleParser">
        <div class="row justify-content-center">
            {% verbatim %}
            <div class="col-7">
                <p class="text-center">{{ schedule.name }}</p>
                <p class="text-center">{{ date | date:'HH:mm:ss' }}</p>
                <div ng-if="is_open==true" class="alert alert-success text-center">Shop is open now</div>
                <div ng-if="is_open==false" class="alert alert-danger text-center">Shop is closed now</div>
                <div class="row" ng-repeat="record in schedule.schedule_records">
                    <div class="text-center align-self-center alert alert-info mb-0 minw-80">{{ week[record.day_of_week_id] }}</div>
                    <div class="col-10" ng-if="record.is_holiday==true">
                        <p class="text-center">Today is holiday</p>
                    </div>
                    <div class="col-10" ng-if="record.is_holiday==false">
                        <div class="row">
                            <p class="col-12 text-center">{{ record.time_open }} - {{ record.time_close }}</p>
                            <div class="col-12">
                                <div class="row">
                                    <div ng-if="record.breaks" ng-repeat="pause in record.breaks" id="break"
                                         class="text-center col-4">
                                        <p class="bg-warning mb-1">{{ pause.name }}</p>
                                        <p id="break-time" class="mb-0">{{ pause.time_start }} - {{ pause.time_end }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="col-10">
                </div>
            </div>
            {% endverbatim %}
        </div>
    </div>
{% endblock %}