{% extends 'main.html' %}
{% load staticfiles %}
{% block main %}
    <div class="container mt-3" ng-controller="shopCreate">
        <div class="row justify-content-center">
            <div ng-show="success" class="col-5">
                {% verbatim %}
                <p>
                    Shop {{ name }} is created successfully. You can <a href="/shop/#/shop/{{ id_shop }}">visit shop's web-page</a>
                    and update shop's schedule.
                </p>
                {% endverbatim %}
            </div>
            <div ng-hide="success" class="col-5">
                {% include 'forms/form_shop_create.html' %}
            </div>
        </div>
    </div>
{% endblock %}